/*  #263238 bluegrey 900 */

.content {
  min-width: 400px;
  margin: 0 auto;
  overflow-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
}

.codeblock {
  background-color: #263238;
  color: lightgreen;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 3px;
}

.codeblock--preformat {
  white-space: pre;
}

@media screen and (min-width: 900px){
  .content {
    width: 900px;
  }

}
