{% extends 'bootstrap/base.html' %}

{% block content %}
<h2>Welcome to the Exercise Tracker API</h2>

<p> This API only has two resource-based URLs. </p>

<ul>
  <li> /api/v1/users </li>
  <li> /api/v1/exercises </li>
</ul>

<p>
To create a new user send a POST request to the users endpoint.
The request must have a JSON body containing the username parameter.
</p>
<div>
  curl -d '{"username": "homer"}' -H "Content-Type: application/json" https://exercisetracker-api.herokuapp.com/api/v1/users
</div>

<p> If the request is successful a response with a JSON body containing the id and username is returned. Once a username has been created exercises can be added for that user.
</p>
   {
  "id": 11, 
    "username": "homer"
   }

<p>
 Exercises can be added via a POST request to the exercises endpoint. The request JSON body must contain user_id, description, duration, and date. The date must be in ISO 8061 format yyyy-mm-dd
</p>

<p>
 A log of exercises can be obtained by sending a GET request to the exercises endpoint. The request must include a user_id.

 <div> curl https://exercisetracker-api.herokuapp.com/api/v1/exercises?user_id=1 </div>

</p>

{% endblock %}
